.timelineItem {
    padding: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.timelineItem:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.timelineTitle {
    color: #fff !important;
}

.timelineSubtitle {
    color: #bbb;
    font-size: 0.9em;
    margin-top: 8px;
    line-height: 1.5;
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 16px;
    margin-bottom: 16px;
    width: 90%;
    max-width: 350px;
}

.cardContent {
    display: flex;
    align-items: center;
}

.cardIcon {
    margin-right: 16px;
}

.cardTitle {
    margin: 0;
    font-size: 14px;
}

.cardDescription {
    margin: 0;
    font-size: 12px;
    color: #888;
}