.header {
    background: linear-gradient(var(--blue-900), var(--blue-600));
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.25rem 0;
    height: 12.5rem;
    min-width: 100% !important;
    height: 18.5rem;
}

.header img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media (max-width:768px) {
    .header img:last-child {
        display: none;
    }
}