.mainRepo {
    height: 13.25;
    background: var(--blue-800);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-top: -9rem;
    padding: 1.5rem;
}

.projectTitle {
    color: var(--gray-400);
}

.buttons a {
    background: transparent;
    border: 0;
    cursor: pointer;
    color: var(--gray-400);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons {
    display: flex;
}

.repoButtons {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.25rem 0 1rem 0;
}

.repoButtons a {
    display: flex;
    flex-direction: row;
    align-items: end;
    color: var(--blue-600);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.repoBody>pre {
    color: var(--gray-500);
    line-height: 1.65;
    -webkit-line-clamp: 3;
    max-width: 100%;
    padding: 5rem;
    white-space: pre-wrap;
}

.repoBody {
    width: 100%;
    display: flex;
}

.title {
    margin-bottom: 2rem;
}

.iconCalendar {
    margin-right: 1rem;
}