.searchText {
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.searchText>p {
    color: var(--gray-400);
}

.searchText>small {
    color: var(--blue-100);
}

.searchInput {
    width: 100%;
    background: var(--black-200);
    border-radius: 8px;
    height: 3rem;
    padding: 1rem;
    color: var(--gray-400);
    border: 1px solid var(--blue-100);
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width:768px) {
    .cards {
        grid-template-columns: 1fr;
    }
}

.skeletons {
    display: flex;
    justify-content: space-between;
    min-width: 90vw;
    padding: 1rem;
}