:root {
    --white: #fff;
    --gray-400: #C4D4E3;
    --gray-500: #AFC2D4;
    --gray-600: #323238;
    --blue-800: #0B1B2B;
    --blue-100: #7B96B2;
    --blue-600: #14589C;
    --black-200: #040F1A;
    --blue-800: #112131;
    --blue-900: #1E3E62;
}

:focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--blue-600);
    border-radius: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--blue-900);
    color: var(--gray-300);
    -webkit-font-smoothing: antialiased
}

body,
input,
pre,
p,
textarea,
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}